/* FIX
========================================================================== */
body {
  background-color: #fff;
}
label {
  font-weight: bold;
  color: $brand-primary;
}
input {
  background-color: $text-input;
}
select {
  background-color: $login-text;
}
h1,
.h1 {
  color: $titles;
  margin: 30px 0;
  font-weight: bold;
}
h2,
.h2 {
  color: $brand-primary;
  font-weight: bold;
}
// Titulos
#title {
  padding-bottom: 50px;
  padding-top: 30px
}
#data-title {
  font-weight: bold;
  text-align: center;
  background-color:$brand-primary;
  color: #fff;
}
#main-function {
  margin-top: 22px;
  margin-bottom: 11px;
  a { 
    color: #fff;
    font-size: 15px;
  }
}
/* LOGIN
========================================================================== */
.img-logo {
  margin:0 auto;
  display: block;
  vertical-align: middle;
  display: block;
  width: 280px;
  margin-bottom: 35px;
  margin-top: 80px;
}
.login-form {
  label {
    color: $login-label;
  }
  input {
    background-color: #eee;
    // background-color: $login-text;
  }
}
.message {
  padding-top: 10px;
  text-align: center;
  
  a {
    color: $brand-danger;
  }
}
/* TABLES
========================================================================== */
.table {
  &>thead>tr>th {//override bootstrap
    background-color: $brand-primary;
    color: #fff;
    border-bottom: none;
  }
  tbody {
    // tr:nth-child(odd) {
    //   background-color: lighten($brand-primary,70%);
    // }
    // tr:hover {
    //   background-color: lighten($brand-primary,70%);
    // }
  }
  td {
    color: black;
    // font-weight: bold;

  }
}
#button-filtrar {
  margin-top: 25px;
}
/* CLASES
========================================================================== */
.u-pb20 {
  padding-bottom: 20px; 
}
.u-mb20 {
  margin-top: 20px;
}
/* TABS
========================================================================== */
// .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
//   background-color:  lighten($brand-primary,70%);
// }

// .nav-tabs > li > a {
//   background-color:  #e5e5e5;
// }
.bank-balances-table {
  li {
    width: 100%;
  }
  .title-table {
    background-color: $brand-primary;
    color: #fff;
    display: block;
    padding: 8px;
    font-weight: bold;
  }
  .row {
    .row {
      margin: 0;
    }
  }
  .nav-stacked > li + li {
    margin-top: 0;

  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: $brand-primary;
    background-color: $table-bg-hover;
    padding-left: 0px;
  }
  .nav > li > a {
    border-radius: 0;
     padding-left: 0px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: $table-bg-hover;
    padding-left: 0px;
  }
  .tab-content{
    background-color: $table-bg-hover;
    color: $brand-primary;
  } 
}
