
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #003776;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #FF0415;

//Colors
$text-input: #CCCCCC;
$titles: #666666;
$login-label:#666666;
$login-text:#CCCCCC;
$b-bancomer: #043263;
$b-santander: #056DAE;
$b-banamex: #056DAE;
// $b-santander: #ec0000;
$b-banorte: #eb0029;

$table-bg-accent: lighten($brand-primary, 73%);
$table-bg-hover: lighten($brand-primary, 70%);
$table-border-color: lighten($brand-primary, 64%);

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Border Radius
$border-radius-base: 3px !default;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
