// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "rodrigo";
// FontAwesome
@import "~font-awesome/scss/font-awesome";

/* ==========================================================================
menu
========================================================================== */
body {
 background: url("/images/background-login.png");
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &.toggled #sidebar-wrapper {
    left: 0;
  }
}
#sidebar-wrapper {
  z-index: 998;
  left: -100%;
  width: 400px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: $brand-primary;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;

  &::-webkit-scrollbar {
    display: none;
  }
  @media(max-width: 767px) {
    width: 85%;
  }
}
#page-content-wrapper {
  position: relative;
}
.logo-header {
  margin-left: 30px;
  position: relative;
  z-index: 1;
  display: block;
}
.app-header-wrap {
  background: #fff;
}
.app-header {
  .text-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;

    img {
      width: 155px;
      padding: 0;
      max-height: none;
      margin-top: 3px;
    }
  }
  img {
    max-height: 50px;
    padding: 7px 0;
  }
}

/* side navbar
========================================================================== */

.sidebar-nav {
  padding-left: 100px;
  list-style: none;

  &.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  @media(max-width: 767px) {
    padding-left: 60px;
    padding-right: 30px;
  }
  > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;

    &:before {
      background-color: transparent;
    }
    a:hover,
    a:active,
    a:focus,
    &.open a:hover,
    &.open a:active,
    &.open a:focus {
      color: #ddd;
    }
    img {
      max-height: 50px;
      padding: 5px 0;
    }
  }
  .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: $brand-primary;
    box-shadow: none;
  }
  li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 3px;
      background-color: #fff;
      -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
      -ms-transition:  width .2s ease-in;
      transition: width .2s ease-in;

    }
    &:hover:before,
    &.open:hover:before {
      width: 100%;
      -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
      -ms-transition:  width .2s ease-in;
      transition: width .2s ease-in;

    }
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 10px 15px 10px 30px;
    }
    a:hover,
    a:active,
    a:focus,
    &.open a:hover,
    &.open a:active,
    &.open a:focus {
      color: $brand-primary;
      text-decoration: none;
      background-color: transparent;
    }
  }
}
.dropdown:hover .dropdown-toggle {
    background-color: #fff;
    color: $brand-primary;
}

/* hamburger
========================================================================== */

.hamburger {
  position: fixed;
  top: 9px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: $brand-primary;
}
.hamburger.is-closed.filled .hamb-top,
.hamburger.is-closed.filled .hamb-middle,
.hamburger.is-closed.filled .hamb-bottom {
  background-color: $brand-primary;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/* overlay
========================================================================== */

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,250,250,.8);
  z-index: 90;
}

/* app header
========================================================================== */

.app-header-wrap {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  -webkit-transition: top 0.6s;
  -moz-transition: top 0.6s;
  transition: top 0.6s;

  &.off-canvas {
    top: -80px;
  }
  &.fixed {
    top: 0px;
  }
  .app-header {
    height: 50px;
    width: 100%;
    z-index: 997;
    position: relative;
    border-bottom: 1px solid $text-input;
  }

}

/* main content
========================================================================== */

#main-content {
  margin-top: 50px;
  padding-top: 15px;
}

#wrapper,
#page-content-wrapper,
#main-content {
  min-height: 100%;
}




/* Utils
========================================================================== */
.u-m30-0 {
  margin: 30px 0;
}
.u-p0 {
  padding: 0 !important;
}
.u-pl0 {
  padding-left: 0;
}
.u-pr0 {
  padding-right: 0;
}
.u-mr0 {
  margin-right: 0;
}
.u-ml0 {
  margin-left: 0;
}
.u-pt10 {
  padding-top: 10px;
}
.u-pb10 {
  padding-bottom: 10px;
}
.u-pl8 {
  padding-left: 8px;
}
.text-left {
  text-align-last: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

/* Grid
========================================================================== */
.container > .row {
  margin-bottom: 30px;
}

/* Alerts
========================================================================== */
.alert {
  margin-bottom: 0;
}

/* Panels
========================================================================== */
.panel {
  margin-bottom: 30px;
}

/* Buttons
========================================================================== */
.btn-header {
  margin: 30px 0;
}
.btn-input {
  margin-top: 27px;
}

/* Forms
========================================================================== */
.form-control {
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}

/* Tabs
========================================================================== */
.nav-tabs {
  > li {
    > a {
      margin-right: 0;
      font-weight: bold;
      font-size: 18px;
    }
  }
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    color: #fff;
    background-color: $brand-primary;
    border-color: $brand-primary;
  }
  > li > a:hover,
  > li > a:focus {
    border-color: $table-border-color;
    background-color: $table-border-color;
  }
}
.nav-tabs-two {

  > li {
    width: 50%;
  }
}

/* ==========================================================================
Form Datos
========================================================================== */
.form-datos {
  .control-label {
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 5px;
  }
  .form-group {
    margin-bottom: 45px;
  }
  .form-control {
    // border-color: transparent $input-border $input-border transparent;

    &:focus {
      // border-color: $input-border;
      background-color: $table-bg-hover;
    }
  }
}

/* ==========================================================================
Panel Info
========================================================================== */
.panel-status {

  .panel-heading {
    padding: 15px;
  }
  .panel-title {
    font-size: 20px;
  }
  .panel-footer {
    padding: 5px 15px;
    background-color: transparent;
    border-top: none;
  }
  .panel-status-a {
    color: inherit;
    display: block;
  }
}
$accounts-colors: (
  bancomer: $b-bancomer,
  banamex: $b-banamex,
  santander: $b-santander,
  banorte: $b-banorte
  );
@each $k, $v in $accounts-colors {
  .panel-#{$k} {
    border-color: $v;

    .panel-heading {
      background-color: $v;
      color: #fff;
    }
  }
}


/* ==========================================================================
Footer
========================================================================== */
footer {
  padding-bottom: 100px;
}

// HOTFIX
.body-login {
  .hamburger {
    display: none;
  }
}

/* ==========================================================================
Dashboard
========================================================================== */

.dashboard-heading {
  margin: 30px 0;
}


/* ==========================================================================
Big tables
========================================================================== */

.big-table {
  tr {
    > td,
    > th {
      white-space: nowrap;
    }
  }

   thead > tr > th {
        text-align: center;
    }

    tbody > tr > td {
        text-align: center;

        &.text {
            text-align: left;
        }
    }
}
.thead{
  border-bottom: 20px solid #f0f0f0;
}
.big-tableCenter {
  tr {
    > td,
    > th {
      white-space: nowrap;
    }
  }

  thead > tr > th {
    text-align: center;
  }

  tbody > tr > th {
    text-align: center;

  }
}

.responsive-image{
    width: 100%;
    background-size: 100% 100%;
} 
/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    .responsive-image{
        background-image: url('/images/logo-main.png');
    }
}
